{% load static %}

<html lang="en">
<head>

     <title>IntelliQuiz MCQ's Generator</title>

     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{% static 'qgen/css/templatemo-digital-trend.css' %}">
</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'qgen-home'%}">
             
              <i class="fa fa-cogs fa-2x" ></i>
            <b>IntelliQuiz</b>
            </a>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up">Use the Power of AI
                                        to Create Questions </h1>

                                   <a href="{% url 'mcq-gen'%}" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Lets get started!</a>

                                <!---  <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"> Let's Crack it !!!</strong>-->
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="{% static 'qgen/images/working-girl.png' %}" class="img-fluid" alt="working girl">
                          </div>
                        </div>

                    </div>
               </div>
     </section>
</body>
</html>
